<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Header</title>
</head>
<body>
    <header>
    <section>
        <div class="barra-busqueda">
            <div class="logo">
            <img src="../assets/images/logo-png.png" alt="Logo">
            </div>

            <div class="search-container">
                <input type="text" placeholder="Buscar">
            </div>
        </div>

        <div class="sec-iconos">
            <nav class="iconos">
                <a href="../index.html">
                    <button>
                        <img src="https://www.svgrepo.com/show/533507/house-floor.svg" alt="Inicio">
                    </button>
                </a>

                <a href="../forums.html">
                    <button>
                        <img src="https://www.svgrepo.com/show/471991/tool-01.svg" alt="Foros">
                    </button>
                </a>

                <a href="../events.html">
                    <button>
                        <img src="https://www.svgrepo.com/show/3532/race-flag.svg" alt="Eventos">
                    </button>
                </a>

                <a href="../notifications.html">
                    <button>
                        <img src="https://www.svgrepo.com/show/521700/heart.svg" alt="Notificaciones">
                    </button>
                </a>

                <a href="../messages.html">
                    <button>
                        <img src="https://www.svgrepo.com/show/529537/dialog.svg" alt="Mensajes">
                    </button>
                </a>

                <a href="../myprofile.php">
                    <button>
                        <img src="https://www.svgrepo.com/show/456992/account.svg" alt="Perfil">
                    </button>
                </a>
            </nav>
        </div>
    </section>
    </header>  
</body>
</html>