<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/Wheelz/web/assets/css/styles.css">
    <title>Header</title>
</head>

<body>
    <header>
        <section>
            <div class="barra-busqueda">
                <div class="logo">
                    <img src="http://localhost/Wheelz/web/assets/images/logo-png.png" alt="Logo">
                </div>

                <div class="search-container">
                    <input type="text" id="userSearchInput" placeholder="Buscar usuarios">
                    <div id="userResults" class="search-results"></div>
                </div>
            </div>

            <div class="sec-iconos">
                <nav class="iconos">
                    <a href="http://localhost/Wheelz/web/index.html">
                        <button>
                            <img src="https://www.svgrepo.com/show/533507/house-floor.svg" alt="Inicio">
                        </button>
                    </a>

                    <a href="http://localhost/Wheelz/web/forums.html">
                        <button>
                            <img src="https://www.svgrepo.com/show/471991/tool-01.svg" alt="Foros">
                        </button>
                    </a>

                    <a href="http://localhost/Wheelz/web/events.html">
                        <button>
                            <img src="https://www.svgrepo.com/show/3532/race-flag.svg" alt="Eventos">
                        </button>
                    </a>

                    <a href="notifications.html">
                        <button id="notification-icon">
                            <img src="https://www.svgrepo.com/show/521700/heart.svg" alt="Notificaciones">
                        </button>
                    </a>

                    <a href="http://localhost/Wheelz/web/messages.html">
                        <button>
                            <img src="https://www.svgrepo.com/show/529537/dialog.svg" alt="Mensajes">
                        </button>
                    </a>

                    <a href="http://localhost/Wheelz/web/myprofile.html">
                        <button>
                            <img src="https://www.svgrepo.com/show/456992/account.svg" alt="Perfil">
                        </button>
                    </a>
                </nav>
            </div>
        </section>
    </header>
    <script src="../assets/js/app.js"></script>
</body>

</html>